@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.06);
  color: white;
  letter-spacing: 1px;
  user-select: none;
}

body, figure {
  background-color: black;
}

.while-loading {
  display: flex;
  justify-content: center;
  z-index: 1001;
}

.while-loading > * {
  position: fixed;
  transform: translateY(-50%);
}

.while-loading .click-to-fullscreen,
.while-loading .turn-sound-on {
  font-size: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.while-loading .click-to-fullscreen {
  top: 20%;
}

.while-loading .loading {
  top: 50%;
}

.while-loading .turn-sound-on {
  top: 80%;
}

.loading {
  font-size: 30px;
}

.icon {
  position: relative;
  height: 30px;
  margin: 10px;
}

.after-loading {
  /* display: none; */
}

video {
  display: none;
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.main-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 2px;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1001;
}

.start-game-btn {
  display: none;
}

.portrait-mode {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 20px;
  z-index: 1001;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: 1000;
}

.choices-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 20px;
  z-index: 1001;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 15px;
  padding: 10px 20px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 0;
  cursor: pointer;
}

.time-line {
  position: fixed;
  bottom: 0;
  background-color: white;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}

.story-or-the-end {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
}

.try-again {
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;
}

@media screen and (orientation: portrait)
{
  .while-loading, .after-loading {
    display: none;
  }

  .portrait-mode {
    display: inline;
  }
}