@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0.06);
}

body, figure {
  background-color: black;
}

.after-loading {
  display: none;
}

.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
  user-select: none;
  z-index: 1001;
}

video {
  display: none;
  position: fixed;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.main-btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 25px;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 2px;
  border: 2px solid white;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1001;
  user-select: none;
}

.start-game-btn {
  display: none;
}

.portrait-mode {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  line-height: 25px;
  font-size: 20px;
  user-select: none;
  z-index: 1001;
}

.shadow {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  z-index: 1000;
}

.choices-container {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  position: fixed;
  width: 100%;
  bottom: 20px;
  z-index: 1001;
}

.choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.05);
  margin: 15px;
  padding: 10px 20px;
  color: white;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  user-select: none;
}

.time-line {
  position: fixed;
  bottom: 0;
  background-color: white;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1001;
}

.story {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  text-align: center;
  letter-spacing: 2px;
  user-select: none;
}

@media screen and (orientation: portrait)
{
  .video-container {
    display: none;
  }

  .portrait-mode {
    display: inline;
  }
}